<h1>Gestion d'utilisateur</h1>
<nz-table  nzBordered [nzTemplateMode]="false">
    <thead>
      <tr>
        <th>Id</th>
        <th>Utilisateur</th>
        <th>Login</th>
        <th>Mail</th>
        <th>Post</th>
        <th>Role</th>
        <th>Action</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of  employe  ">
        <td>{{data.id}}</td>
        <td>{{ data.utilisateur }}</td>
        <td>{{ data.login }}</td>
        <td>{{ data.mail}}</td>
        <td>{{ data.post}}</td>
        <td>{{formatRoles(data.roles)}}</td>

        <td>
          <a (click)="showModal1(data)" >Update</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="showDeleteConfirm(data)"   >Delete</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <div nz-row nzJustify="end">
  <button  nz-button [nzType]="'primary'" (click)="showModal()" ><span>Ajouter Utilisateur </span></button>
</div>
  <nz-modal [(nzVisible)]="isVisible" nzTitle="Créer utilisateur" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk();reloadCurrentPage()" [nzOkLoading]="isOkLoading">
    <ng-container *nzModalContent>
      <form nz-form   [nzAutoTips]="autoTips"  [formGroup]="validateForm" (ngSubmit)="onSubmit() ; submitForm()" >
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>Username</nz-form-label>
          <nz-form-control [nzSpan]="12" nzValidatingTip="Validating...">
            <input nz-input  formControlName="utilisateur"  name="utilisateur" [(ngModel)]="form.utilisateur" placeholder="Utilisateur" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>Login</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input nz-input  formControlName="login" name="login" [(ngModel)]="form.login" placeholder="login" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>E-mail</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input nz-input  formControlName="mail" placeholder="email" name="mail" [(ngModel)]="form.mail" type="email" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>Post</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input nz-input  formControlName="post" name="post" [(ngModel)]="form.post" placeholder="post" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>Action</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input nz-input  formControlName="action" name="action" [(ngModel)]="form.action" placeholder="action" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>Role</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input nz-input name="roles" [(ngModel)]="form.roles" formControlName="roles" placeholder="roles" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>Password</nz-form-label>
          <nz-form-control [nzSpan]="12" nzDisableAutoTips nzErrorTip="Please input your password!">
            <input nz-input name="password" [(ngModel)]="form.password" type="password" formControlName="password" (ngModelChange)="validateConfirmPassword()" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>Confirm Password</nz-form-label>
          <nz-form-control [nzSpan]="12" nzDisableAutoTips [nzErrorTip]="passwordErrorTpl">
            <input nz-input type="password" formControlName="confirm" placeholder="confirm your password" />
            <ng-template #passwordErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">Please confirm your password!</ng-container>
              <ng-container *ngIf="control.hasError('confirm')">Password is inconsistent!</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control [nzOffset]="7" [nzSpan]="12">
            <button nz-button [nzType]="'primary'">Submit</button>           
          </nz-form-control>
        </nz-form-item>
        
          <nz-alert
          class="alert alert-success" *ngIf="isSuccessful"
          nzType="success"
          nzMessage="Your registration is successful!"
        >Your registration is successful!</nz-alert>
      
      </form>
    </ng-container>
  </nz-modal>

<!--  ________________________________________________________________________________________________ -->


<nz-modal [(nzVisible)]="isVisible1" nzTitle="Edit Utilisateur"  (nzOnCancel)="handleCancel1()" (nzOnOk)="handleOk1();updateEmployee(editForm.value.id);reloadCurrentPage()"  >
  <ng-container *nzModalContent >
    <form nz-form  [formGroup]="editForm" >
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Utilisateur</nz-form-label>
        <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="Input is required">
          <input nz-input formControlName="utilisateur" [ngModel]="editForm.value.utilisateur"  name="utilisateur"  />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Login</nz-form-label>
        <nz-form-control nzHasFeedback [nzSpan]="12" >
          <input nz-input formControlName="login" [ngModel]="editForm.value.login"  name="Login"  />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Email</nz-form-label>
        <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="Email is not valid">
          <input nz-input formControlName="mail"  [ngModel]="editForm.value.mail" name="mail" email />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Post</nz-form-label>
        <nz-form-control nzHasFeedback [nzSpan]="12" >
          <input nz-input formControlName="post" [ngModel]="editForm.value.post" name="post"  />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Action</nz-form-label>
        <nz-form-control nzHasFeedback [nzSpan]="12" >
          <input nz-input formControlName="action" [ngModel]="editForm.value.action" name="action" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Password</nz-form-label>
        <nz-form-control nzHasFeedback [nzSpan]="12" >
          <input nz-input type="password" formControlName="password" [ngModel]="editForm.value.password" name="password" />
        </nz-form-control>
      </nz-form-item>

    </form>
  </ng-container>
</nz-modal>

<nz-modal
[(nzVisible)]="isVisible2"
*ngFor="let data of  employe "
[(nzVisible)]="isVisible2"
nzTitle= 'Êtes-vous sûr de supprimer cette Utilisateur?'

nzOkText="yes"
nzOkType= 'primary'
nzOkDanger= true
nzCancelText='No'
(nzOnOk)="deleteEmploye(data.id);handleOk2()"
(nzOnCancel)="handleCancel2()"
> 
<ng-container *nzModalContent>
  <i nz-icon nzType="question-circle" nzTheme="outline"></i>
<b  style="color: red">Some descriptions</b>

</ng-container>
</nz-modal>













 