<h1>Gestion des candidat</h1>
<nz-divider></nz-divider>
<nz-select
[(ngModel)]="selectedUser"

(ngModelChange)="changeData($event)"
nzPlaceHolder="Choisir l'offre"
nzAllowClear
[nzDropdownRender]="renderTemplate"
nz-col nzSpan="8" nzOffset="6"
>
<nz-option *ngFor="let o of offre" [nzValue]="o" [nzLabel]="o.titre"></nz-option>
</nz-select>
<ng-template #renderTemplate>
<nz-spin *ngIf="isLoading"></nz-spin>
</ng-template>
<nz-divider></nz-divider>

<div cdkDropListGroup>
    <div nz-row>
        <div nz-col nzSpan="6"  >
  <div nz-row nzJustify="center"><h2 class="button" > Nouveau </h2> </div>

  <div
  cdkDropList
  [cdkDropListData]="nouveau"
  class="example-list"
  (cdkDropListDropped)="drop($event);Testsed()">

 
  
    <div  class="example-box" *ngFor="let item of nouveau" (click)="showModal(item)" cdkDrag>
    <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
    <nz-avatar  nzSrc="http://localhost:8080/{{item.picture}}"></nz-avatar> <p class="test">{{item.nom}} {{item.prenom}} &nbsp; {{item.mail}}</p>
  </div>





  </div>


</div>
<div nz-col nzSpan="6" >

  <div nz-row nzJustify="center"><h2 class="button2">A étudié</h2></div>


      <div
      cdkDropList
      [cdkDropListData]="etudier"
      class="example-list"
      (cdkDropListDropped)="drop($event);Testsed1()">
 
  
      <div class="example-box" *ngFor="let item of etudier" (click)="showModal(item)" cdkDrag>
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
        <nz-avatar  nzSrc="http://localhost:8080/{{item.picture}}"></nz-avatar> <p class="test">{{item.nom}} {{item.prenom}}  {{item.mail}}</p>
      </div>
  
      </div>


    </div>
    <div nz-col nzSpan="6">

      <div nz-row nzJustify="center">  <h2 class="button3">  Entretien</h2> </div>
    
          <div
          cdkDropList
          [cdkDropListData]="entretien"
          class="example-list"
          (cdkDropListDropped)="drop($event);Testsed2()">
     
       
      <div class="example-box" *ngFor="let item of entretien" (click)="showModal(item)" cdkDrag>
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
        <nz-avatar  nzSrc="http://localhost:8080/{{item.picture}}"></nz-avatar> <p class="test">{{item.nom}} {{item.prenom}}  {{item.mail}}</p>
      </div>
      
          </div>
        </div>
        <div nz-col nzSpan="6">

          <div nz-row nzJustify="center"> <h2 class="button4">Accepter</h2></div>
        
            <div
              cdkDropList
              [cdkDropListData]="accepter"
              class="example-list"
              (cdkDropListDropped)="drop($event);Testsed3()">
         

              <div class="example-box" *ngFor="let item of accepter" (click)="showModal(item)" cdkDrag>
                <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                <nz-avatar  nzSrc="http://localhost:8080/{{item.picture}}"></nz-avatar> <p class="test">{{item.nom}} {{item.prenom}}  {{item.mail}}</p>
              </div>

          
              </div>
            </div>
</div>
</div>
<!-- afficher candidat__________________________________________________________________________________________ -->
<nz-modal [nzWidth]="700" [(nzVisible)]="isVisible" nzTitle="Information du candidat" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" *ngFor="let data of affichage">
  <ng-container *nzModalContent >
    <img
      nz-image
      width="200px"
      height="200px"
      nzSrc="http://localhost:8080/{{data.picture}}"
      alt=""
    />
    <nz-divider></nz-divider>
    <nz-descriptions nzTitle="Donnée personnel" >
      <nz-descriptions-item nzTitle="Prenom" >{{data.prenom}} </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Nom">{{data.nom}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Dipolome">{{data.diplomes}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Competance">{{data.skills}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Experience">{{data.experience}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Mail">{{data.mail}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Tel">{{data.tel}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Address">{{data.adresse}}
      </nz-descriptions-item>
      
    </nz-descriptions>
    <button nz-button nzType="primary" [nzSize]="size" nzShape="round"  (click)="downloadMyFile()">
     <i nz-icon nzType="download"></i>
       Telecharger CV
    </button>
  </ng-container>
</nz-modal>


<!-- entretien_________________________________________________________________________________________________ -->

<nz-modal [nzWidth]="600" [(nzVisible)]="isVisible1" nzTitle="Planifier un entretien" (nzOnCancel)="handleCancel1()" (nzOnOk)="handleOk1()">
  <ng-container *nzModalContent>
    <h3>Choisir la date d'entretien</h3>
    <nz-divider></nz-divider>
  
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSpan]="5">Date de début</nz-form-label>
      <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="Input is required">
        <nz-date-picker  
        nzFormat="dd-MMM-yyy"
         formControlName="datentretien" 
         [(ngModel)]="selectedValue" 
         (ngModelChange)="selectChange($event)"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="10" nzRequired>Sélectionner l'heure de l'entretien </nz-form-label>
      <nz-form-control [nzSpan]="12" >
        <nz-time-picker 
        formControlName="heur" 
        [(ngModel)]="time"   
        [nzDefaultOpenValue]="defaultOpenValue" 
        nzFormat="HH:mm"
        (ngModelChange)="log($event)">
    </nz-time-picker>
      </nz-form-control>
    </nz-form-item>
   

    <nz-form-item>
        <nz-form-label [nzSpan]="4" nzRequired>Description</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="Please write something here!">
          <textarea formControlName="description" nz-input rows="2" placeholder="write any thing"></textarea>
        </nz-form-control>
      </nz-form-item>
      </form>
  </ng-container>
</nz-modal>
