
<h1>Gestion des offres</h1>
<nz-divider></nz-divider>
<div nz-row nzJustify="end">
  <button  nz-button [nzType]="'primary'" (click)="showModal3()" ><span>Ajouter Un Nouveau Offre </span></button>
  
</div>
<div >
<nz-table  nzBordered [nzTemplateMode]="false" 
#nzTable [nzData]="listOfDisplayData" 
nzTableLayout="fixed" [nzPageSize]="4">
    <thead>
      <tr>
        <th >Ref</th>
        <th nzCustomFilter>
          Titre
          <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
            <i nz-icon nzType="search"></i>
          </nz-filter-trigger>
        </th>
        <th>Description</th>
        <th>Post</th>
        <th>N°/Poste</th>
        <th>Années
          experience</th>
        <th>Date de début</th>
        <th>Date de fin</th>
        <th  *ngFor="let column of listOfColumns"
        [nzSortOrder]="column.sortOrder"
        [nzSortFn]="column.sortFn"
        [nzSortDirections]="column.sortDirections"
        [nzFilterMultiple]="column.filterMultiple"
        [nzFilters]="column.listOfFilter"
        [nzFilterFn]="column.filterFn">
        Etat
      </th>
        <th>Action</th>
        
      </tr>
    </thead>
    <tbody>
     <tr  *ngFor="let data of  nzTable.data " >
        <td >{{data.id}}</td>
        <td>{{ data.titre }}</td>
        <td class="truncate-cell">{{ data.description }}</td>
        <td>{{ data.post}}</td>
        <td>{{ data.nembposte}}</td>
        <td class="truncate-cell">{{ data.competence }}</td>
        <td>{{ data.deparoff | date:'yyyy-MM-dd'}}</td>
        <td>{{ data.finoffre | date:'yyyy-MM-dd'}}</td>
        <td >
          <div>
            <nz-tag nzColor="error" *ngIf="data.etat ==='refuser'">
              <i nz-icon nzType="close-circle" ></i>
              <span>refuser</span>
            </nz-tag>
          </div>
          <div>
          <nz-tag nzColor="success"  *ngIf="data.etat ==='accepter'">
            <i nz-icon nzType="check-circle"></i>
            <span>accepter</span>
          </nz-tag>
        </div>
        <div>
        <nz-tag nzColor="processing" *ngIf="data.etat ==='en attente'">
          <i nz-icon nzType="sync" nzSpin></i>
          <span>en attente</span>
        </nz-tag>
      </div>
        </td>
        <td>
     
          <a *ngIf="currentUser.roles=='ROLE_ADMIN'"  (click)="showModal6(data)" nz-popover nzType="primary"  nzPopoverContent="Modifier"><i nz-icon nzType="edit" nzTheme="outline" ></i></a>
          <nz-divider *ngIf="currentUser.roles=='ROLE_ADMIN'" nzType="vertical"></nz-divider>
          <a *ngIf="currentUser.roles=='ROLE_ADMIN'" (click)="showDeleteConfirm(data)" nz-popover nzType="primary"  nzPopoverContent="Supprimer"><i nz-icon nzType="delete" nzTheme="outline"></i></a>
          <nz-divider *ngIf="currentUser.roles=='ROLE_ADMIN'" nzType="vertical"></nz-divider>
          <a (click)="showModal(data)" nz-popover nzType="primary"  nzPopoverContent="Afficher"><i nz-icon nzType="select" nzTheme="outline"></i></a>
          <nz-divider *ngIf="condAvis(data.id)" nzType="vertical"></nz-divider>
          <a *ngIf="condAvis(data.id)" (click)="showModal9(data);getOnejunc(data.id) " nz-popover nzType="primary"  nzPopoverContent="Avis"><i nz-icon nzType="partition" nzTheme="outline"></i></a>
          <nz-divider *ngIf="currentUser.roles=='ROLE_ADMIN'" nzType="vertical"></nz-divider>
          <a *ngIf="currentUser.roles=='ROLE_ADMIN'" (click)="showModal7() ; getAlljunc(data.id) " nz-popover nzType="primary"  nzPopoverContent="Process"><i nz-icon nzType="team" nzTheme="outline" ></i></a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)=" showModal4(data);getrectrutment(data.id)"  nz-popover nzType="primary"  nzPopoverContent="Avis utilisateur"> <i nz-icon nzType="ellipsis" nzTheme="outline"></i></a>
        </td>
      </tr>
    </tbody>  
  </nz-table>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
        <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Recherche</button>
        <button nz-button nzSize="small" (click)="reset()">Reset</button>
      </div>
    </div>
  </nz-dropdown-menu>
</div>

  
      <!-- update_____________________________________________________________________________________________________ -->
   
      <nz-modal [(nzVisible)]="isVisible6" nzTitle="Edit Offre" (nzOnCancel)="handleCancel6()" (nzOnOk)="handleOk6() ; updateOffre(editForm.value.id);createMessage('success')">
        <ng-container *nzModalContent >
          <form nz-form  [formGroup]="editForm" >
            <nz-form-item>
              <nz-form-label [nzSpan]="5">Titre</nz-form-label>
              <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="Input is required">
                <input nz-input formControlName="titre" [ngModel]="editForm.value.titre"  name="titre"  />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="5">Poste</nz-form-label>
              <nz-form-control nzHasFeedback [nzSpan]="12" >

                <input nz-input formControlName="post" [ngModel]="editForm.value.post"  name="post"  />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="5">N°/poste</nz-form-label>
              <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="Input is required">
                <nz-input-number  formControlName="nembposte" [ngModel]="editForm.value.nembposte" [nzMin]="1" [nzMax]="23" [nzStep]="1" name="nembposte"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="5">Années/experience</nz-form-label>
              <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="Input is required">
                <nz-input-number  formControlName="competence" [ngModel]="editForm.value.competence" [nzMin]="1" [nzMax]="23" [nzStep]="1" name="competence"></nz-input-number>
  
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="5">Date de début</nz-form-label>
              <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="Input is required">
                <nz-date-picker  
                nzFormat="dd-MMM-yyy"
                 formControlName="deparoff" 
                 [(ngModel)]="editForm.value.deparoff" 
                 (ngModelChange)="onChange3($event)"></nz-date-picker>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="5">Date de fin</nz-form-label>
              <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="Input is required">
                <nz-date-picker  
                nzFormat="dd-MMM-yyy"
                 formControlName="finoffre" 
                 [(ngModel)]="editForm.value.finoffre" 
                 (ngModelChange)="onChange4($event)"></nz-date-picker>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="5">Etat</nz-form-label>
              <nz-form-control nzHasFeedback [nzSpan]="12" >
                <p>{{editForm.value.etat}}</p>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="5">Description</nz-form-label>
              <nz-form-control nzHasFeedback [nzSpan]="12" >
                <textarea rows="4" formControlName="description" nz-input [(ngModel)]="editForm.value.description" name="description"></textarea> 
              </nz-form-control>
            </nz-form-item>
      
          </form>
        </ng-container>
      </nz-modal>
  <!-- process2____________________________________________________________________________________________-->
      
<nz-modal [nzWidth]="600" [(nzVisible)]="isVisible7" nzTitle="Mise en place de process" (nzOnCancel)="handleCancel7()" (nzOnOk)="handleOk7();reloadCurrentPage()">
        <ng-container *nzModalContent>
          <h3>Liste d'utilisateur</h3>
          <div>
         <nz-table  nzBordered [nzTemplateMode]="false" >
           <thead>
             <tr>
               <th >id</th>
               <th>Utilisateur</th>
               <th>Login</th>
               <th>Post</th>             
               <th>Process</th>
               
             </tr>
           </thead>
           <tbody>
            <tr  *ngFor="let data of  employeee; let i = index "  >
               <td >{{data.id}}</td>
               <td>{{ data.utilisateur }}</td>
               <td>{{ data.post }}</td>
               <td>{{ data.login }}</td>
               
               <td> <button  nz-button nzType="primary" (click)="creatJointure(data.id);addItem2(data);addtomainrecord(i)" [disabled]="click[i]">Ajouter</button> </td>
       
             </tr>
           </tbody>  
         </nz-table>
       </div>
       <nz-divider nzText="Liste des utilisateurs participe dans cette offre" nzOrientation="left"></nz-divider>
      
       <div>
         <nz-table  nzBordered [nzTemplateMode]="false" >
           <thead>
             <tr>
               <th >id</th>
               <th>Utilisateur</th>
               <th>Login</th>
               <th>Post</th>
               <th>Process</th>
               
             </tr>
           </thead>
           <tbody>
            <tr  *ngFor="let data of  employee ; let i = index "  >
               <td >{{data.id}}</td>
               <td>{{ data.utilisateur }}</td>
               <td>{{ data.login }}</td>
               <td>{{ data.post }}</td>
               <td><a  (click)="deletejinct(data.id) ; deletItem2(i)">Supprimer</a></td>
               <td></td>
       
             </tr>
           </tbody>  
         </nz-table>
       </div>
        </ng-container>
</nz-modal>


  <!-- afficher________________________________________________________________________________________________________________ -->

  <nz-modal *ngFor="let data of  offree " [(nzVisible)]="isVisible" nzTitle="<b>Détails d'offres</b>" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent   >
      <ul>
     <li><p><b>Ref:{{data.id}}</b></p></li>
     <li><p><b>Titre d'offre : </b>{{ data.titre }}</p></li>
     <li><p><b>Poste : </b>{{ data.post}}</p></li>
     <li><p><b>Nembre de poste : </b>{{ data.nembposte}}</p></li>
     <li><p><b>Années/experience : </b>{{ data.competence }}</p></li>
     <li><p><b>De : </b>{{ data.deparoff | date:'yyyy-MM-dd'}}</p></li>
     <li><p><b>Jusqu'à : </b>{{ data.finoffre | date:'yyyy-MM-dd'}}</p></li>
     <li><p><b>Etat : </b>{{ data.etat}}</p></li>
    </ul>
    <nz-divider nzText="Description"></nz-divider>
    <p>{{ data.description }}</p>
    </ng-container>
    
  </nz-modal>

  <!-- supprimer______________________________________________________________________________________________________________ -->
  <nz-modal
[(nzVisible)]="isVisible2"
*ngFor="let data of  newdata "
[(nzVisible)]="isVisible2"
nzTitle= 'Êtes-vous sûr de supprimer cette Offre?'
nzOkText="yes"
nzOkType= 'primary'
nzOkDanger= true
nzCancelText='No'
(nzOnOk)="deleteOffre(deletId);handleOk2();reloadCurrentPage()"
(nzOnCancel)="handleCancel2()"
> 
<ng-container *nzModalContent>
  <i nz-icon nzType="question-circle" nzTheme="outline"></i>
<b  style="color: rgba(255, 0, 0, 0.479)">Suppression de  {{data.titre}}</b>

</ng-container>
</nz-modal>

<!-- ajouter__________________________________________________________________________________________________ -->



    <nz-modal [nzWidth]="650" [(nzVisible)]="isVisible3" nzTitle="Ajouter Un Nouveau Offre" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel3()" (nzOnOk)="handleOk3()">
      <ng-container *nzModalContent>
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">

          <nz-form-item>
            <nz-form-label [nzSpan]="5" nzRequired>Titre</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
              <input nz-input formControlName="titre" placeholder="choisir titre pour l'offre" />
              <ng-template #userErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Veuillez ajouter un titre pour l'offre!</ng-container>

              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="5" nzRequired>Post</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="emailErrorTpl">
             
              <nz-select 
              formControlName="post"
              style="width: 200px;"
              nzAllowClear
              [nzPlaceHolder]="'Nembre par poste'"
              [(ngModel)]="customerObj2"
              (ngModelChange)="changeCustomer2($event)"
              [nzShowSearch]="false">
              <nz-option
              *ngFor="let option of poste"
              [nzLabel]="option.nomposte"
              [nzValue]="option.nomposte">
              </nz-option>

            </nz-select>




              <ng-template #emailErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Veuillez ajouter le poste proposé!</ng-container>
              </ng-template>
   
            </nz-form-control>
            <button  nz-button nzType="primary" [nzSize]="size" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu1">
              <i nz-icon nzType="plus" nzTheme="outline"></i>
            </button>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="5" nzRequired>Années/experience</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="experienserror">
              <nz-input-number  formControlName="competence" [nzMin]="1" [nzMax]="23" [nzStep]="1"></nz-input-number>
              <ng-template #experienserror let-control>
                <ng-container *ngIf="control.hasError('required')">Veuillez ajouter années d'experience pour l'offre!</ng-container>

              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="5" nzRequired>N°/Poste</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="posteserror">
            <nz-input-number  formControlName="nembposte" [nzMin]="1" [nzMax]="23" [nzStep]="1"></nz-input-number>
            <ng-template #posteserror let-control>
              <ng-container *ngIf="control.hasError('required')">Veuillez ajouter nombre par poste!</ng-container>

            </ng-template>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="5" nzRequired>Date de début</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="dateerror">
              <nz-date-picker  
              nzFormat="dd-MMM-yyy"
               formControlName="deparoff" 
               [nzDisabledDate]="disabledDate"
               [(ngModel)]="getdate" 
               (ngModelChange)="onChange($event)"></nz-date-picker>
               <ng-template #dateerror let-control>
                <ng-container *ngIf="control.hasError('required')">Veuillez ajouter la date!</ng-container>
  
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="5" nzRequired>Date de fin</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="dateerror">
              <nz-date-picker 
               nzFormat="dd-MMM-yyy" 
              formControlName="finoffre"
              [nzDisabledDate]="disabledDate2"
               [(ngModel)]=" getdate2" 
               (ngModelChange)="onChange1($event)"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>



          <nz-form-item>
            <nz-form-label [nzSpan]="5" nzRequired>Description</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." nzErrorTip="S'il vous plaît remplir le description!">
              <textarea formControlName="description" nz-input rows="2" placeholder="description"></textarea>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control [nzOffset]="5" [nzSpan]="12">
              <button nz-button nzType="primary"  (click)="creatOffree()">Enregistrer</button>
              <button nz-button (click)="resetForm($event)">Réinitialiser</button>
            </nz-form-control>
          </nz-form-item>

        </form>
        <nz-alert 
        *ngIf="alert"
        nzType="success" 
        nzMessage="L'offre était créée avec succès., Veuillez procéder à la prochaine étape."></nz-alert>
      </ng-container>

      <ng-template #modalFooter>
        <div *ngIf="alert">
        <button nz-button nzType="default" (click)="handleCancel3()">Annuler</button>
        <button nz-button nzType="primary" (click)="handleOk3()" >Ok</button>
      </div>
      </ng-template>
    </nz-modal>
    <nz-dropdown-menu #menu1="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <input type="text" nz-input placeholder="Search name" [(ngModel)]="postimpty" />
         <div> <nz-alert *ngIf="alert2" nzType="success" nzMessage="Ajouté avec Succès"></nz-alert></div>
          <button nz-button nzSize="small" nzType="primary" (click)="ajoutPoste();getAllposte()" class="search-button">Ajouter</button>
          <button nz-button nzSize="small" (click)="reset2()">Reset</button>
        </div>
      </div>
    </nz-dropdown-menu>
    
  <!-- Avis_________________________________________________________________________________________________________ -->
  <nz-modal   [(nzVisible)]="isVisible9" *ngFor="let data of  offreee "  nzTitle="Donner votre avis" (nzOnCancel)="handleCancel9()" (nzOnOk)="handleOk9();updateJuction(data.id);reloadCurrentPage()">
    <ng-container *nzModalContent>
      <ul>
      <li><p> <b>Titre de l'offre : {{data.titre}}</b> </p></li>
      <li><p><b> Ref:{{data.id}}</b></p></li>
    </ul>
      <form nz-form [formGroup]="editForm2">
            <nz-form-item>
                <nz-form-label [nzSpan]="5">Avis</nz-form-label>
                <nz-form-control nzHasFeedback [nzSpan]="12" >
                  <nz-select 
                  formControlName="avis"
                  style="width: 200px;"
                  nzAllowClear
                  [nzPlaceHolder]="'Nembre par poste'"
                  [(ngModel)]="customerObj3"
                  (ngModelChange)="changeCustomer($event)"
                  [nzShowSearch]="false">
                  <nz-option
                  *ngFor="let option of nembreppost3"
                  [nzLabel]="option"
                  [nzValue]="option">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="5">Commentaire</nz-form-label>
                <nz-form-control nzHasFeedback [nzSpan]="12" >
               <textarea formControlName="ttp" nz-input rows="2" placeholder="write any thing"></textarea>
              </nz-form-control>
            </nz-form-item>

      </form>
    </ng-container>
  </nz-modal>
  <!-- affiche procc____________________________________ -->
  
  <nz-modal [(nzVisible)]="isVisible4" nzTitle="Avis des utilisateurs" (nzOnCancel)="handleCancel4()" (nzOnOk)="handleOk4()">
    <ng-container *nzModalContent>
      <nz-list nzBordered nzSize="small">
        <nz-list-header *ngFor="let item of offreidspes" ><b>{{item.titre}}</b></nz-list-header>
        <nz-list-item *ngFor="let item of process">
          <p *ngIf=" formatRecrutment(item.recrutements)==='accepter'">{{item.utilisateur}}  approuve l'action de recrutement</p>
          <p *ngIf=" formatRecrutment(item.recrutements)==='refuser'">{{item.utilisateur}}  désapprouve l'action de recrutement</p>
          <p *ngIf=" formatRecrutment(item.recrutements)==='en attente'">{{item.utilisateur}}   ne donne pas son avis a propos l'action de recrutement</p>
          <p *ngIf=" formatRecrutment(item.recrutements)===null">{{item.utilisateur}}   ne donne pas son avis a propos l'action de recrutement</p>
        </nz-list-item>
        
      </nz-list>
    </ng-container>
  </nz-modal>


   
  