.ant-progress {
    margin-right: 8px;
    margin-bottom: 8px;
    display: inline-block;
  }

  .box  {
    width: 680px;
    border: 1px solid rgb(207, 206, 206);
    padding: 30px;
    border-radius: 4px;
    margin-right: 10px;
  }

  .box2{
    margin-right: 0px;
  }

  .boxx{
    width: 680px;
  }

  .events {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }